* {
  margin: 0;
  padding: 0;
}

body {
  background: #e6e6e6;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  text-align: justify;
  color: #111035;
}

h1, h2, h3 {
  font-family: 'Satisfy', cursive;
}

.nav-100 {
  background: #111035;
  padding: 15px;
}

.nav-100 a {
  color: #fff;
  text-decoration: none;
  margin-left: 150px;
  margin-right: 150px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  padding: 15px;
  transition: background 1s ease;
}

.nav-100 a:hover {
  background: #3e468d;
}

/* NAV */

.section-1 h1 {
  color: #111035;
  font-size: 60px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.section-1 p {
  color: #111035;
}

/* SECTION-2 */

.section-2 {
  background: #ccc;
  margin-top: 40px;
  padding: 20px;
}

.section-2 h2 {
  font-size: 35px;
  color: #111035;
}

/* GALLERY */

.thumb {
  margin: 40px 0;
}

.thumb {
  margin-bottom: 5px;
}

.thumb img {
  width: 100%;
}


/* FOOTER */

footer {
  background: #111035;
  color: #fff;
  padding: 30px 0;
}


footer a,
footer h2,
footer h3 {
  color: #fff;
}

footer h2 {
  font-size: 40px;
  background: #3e468d;
  padding: 20px 0;
  border-radius: 20px 0 20px 0;
  margin-left: 5px;
  margin-right: 50px;
  transition: background-color 1s ease;
}

footer h2:hover {
  background-color: #aaa;
}


footer ul {
  list-style: none;
}

footer li {
  color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  transition: background-color 1s ease;
}

footer li:hover {
  background-color: #ccc;
}

footer a {
  text-decoration: none;
}

.contact p, a, address {
  margin: 20px 0;
  text-align: center;
  color: #fff;
}

footer h3 {
  font-size: 30px;
  font-family: 'Satisfy', cursive;
}
